<?php echo $this->getContent(); ?>

<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>Bicharka</b></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>
    <?php echo $this->tag->form(['class' => 'form-search']); ?>
    <div class="form-group has-feedback">
      <?php echo $form->render('firstName', [
        'class' => 'form-control',
        'placeholder' => 'First name',
      ]); ?>
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
      <?php echo $form->messages('firstName'); ?>
    </div>
    <div class="form-group has-feedback">
      <?php echo $form->render('lastName', [
        'class' => 'form-control',
        'placeholder' => 'Last name',
      ]); ?>
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
      <?php echo $form->messages('lastName'); ?>
    </div>
    <div class="form-group has-feedback">
      <?php echo $form->render('email', [
        'class' => 'form-control',
        'placeholder' => 'Email',
      ]); ?>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      <?php echo $form->messages('email'); ?>
    </div>
    <div class="form-group has-feedback">
      <?php echo $form->render('password', [
        'class' => 'form-control',
        'placeholder' => 'Password',
      ]); ?>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      <?php echo $form->messages('password'); ?>
    </div>
    <div class="form-group has-feedback">
      <?php echo $form->render('confirmPassword', [
        'class' => 'form-control',
        'placeholder' => 'Confirm password',
      ]); ?>
      <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      <?php echo $form->messages('confirmPassword'); ?>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <div class="checkbox icheck">
            <?php echo $form->render('terms', [
              'class' => 'form-control',
              'placeholder' => 'Last name',
            ]); ?>
            <?php echo $form->label('terms'); ?>
            <?php echo $form->messages('terms'); ?>
        </div>
      </div><!-- /.col -->

      <?php echo $form->render('csrf', ['value' => $this->security->getToken()]); ?>

      <div class="col-xs-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
      </div><!-- /.col -->
    </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a>
    </div>

    <?php echo $this->tag->linkTo([
      'session/login',
      'I already have a membership',
      'class' => 'text-center btn btn-success btn-block btn-flat btn-xs',
    ]); ?>

  </div>
</div>
