
<?php
$this->assets
  ->collection('header')
  ->addCss('theme/bootstrap/css/bootstrap.min.css')
  ->addCss('theme/dist/css/AdminLTE.min.css')
  ->addCss('theme/plugins/iCheck/square/blue.css');

$this->assets
  ->collection('header')
  ->addJs('theme/plugins/jQuery/jQuery-2.1.4.min.js')
  ->addJs('theme/bootstrap/js/bootstrap.min.js')
  ->addJs('theme/plugins/iCheck/icheck.min.js');

$this->_pageTitle = 'Bicharka';

?>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bichi</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
<!--      <ul class="nav navbar-nav">-->
<!--        <li class="active"><a href="#">Home</a></li>-->
<!--        <li><a href="#">About</a></li>-->
<!--        <li><a href="#">Contact</a></li>-->
<!--        <li class="dropdown">-->
<!--          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a href="#">Action</a></li>-->
<!--            <li><a href="#">Another action</a></li>-->
<!--            <li><a href="#">Something else here</a></li>-->
<!--            <li role="separator" class="divider"></li>-->
<!--            <li class="dropdown-header">Nav header</li>-->
<!--            <li><a href="#">Separated link</a></li>-->
<!--            <li><a href="#">One more separated link</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
      <ul class="nav navbar-nav navbar-right">
        <?php if (!empty($logger_in)) { ?>
          <li><a href="<?php echo $this->url->get('users'); ?>">Users Panel</a></li>
          <li><a href="<?php echo $this->url->get('session/logout'); ?>">Logout</a></li>
        <?php } else { ?>
          <li><a href="<?php echo $this->url->get('session/login'); ?>">Login</a></li>
        <?php } ?>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

<div class="container main-container">
  <?php echo $this->getContent(); ?>
</div>

<footer></footer>
