<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?php echo $this->_pageTitle; ?></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <?php $assetCollections =
      is_array($this->assets->getCollections()) ? array_keys($this->assets->getCollections()) : [];
    if (in_array('header', $assetCollections)) {
      $this->assets->outputCss('header');
      $this->assets->outputJs('header');
    } ?>
  </head>

  <?php echo $this->getContent(); ?>

  <?php //todo minify
  if (in_array('footer', $assetCollections)) {
    $this->assets->outputCss('footer');
    $this->assets->outputJs('footer');
  } ?>
</html>
